:root{ /*Variables*/
    /*--bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201E1C;
    --black: #201e1c;
    --grey: #bababa;
    
    --just-white: #fff; */
    --off-white: #faf8f7;
    --softpaq-blue-ligth: #0f78a1;
}
*{ /*Quitar configuraciones por defecto del navegador*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.7%; /*?para hacer uso del rem y no de px*/
    font-family: 'Titillium Web', sans-serif; /*Font por defecto*/
    /*font-family: 'Inter', sans-serif; */
    scroll-behavior: smooth;
    background-color: #fff;
}
header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;   
    width: 100%;
    height: 100px;
    text-align: center;
    background-image:linear-gradient(93deg, #000046 0%, #0087BD 41%, #000046 90%);
}
header img{
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}
.section1
{
    width: 100%;
    min-width: 320px;
    height: auto; /*vh es el 100% del contenedor*/
    min-height: 390px;
    background-size: custom;	
    background-image: url(assets/img/INFONAVIT.webp);
   background-size: cover; /*Cubre todo el section*/
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; 
}
.section1--div
{
    max-width: 800px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
}
.section1--div--logos{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 55%;
    min-width: 250px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.section1--div h1
{
    font-size: 3.0rem;
}
.section1--div p
{
    padding: 15px 15px;
    padding-bottom: 60px;
    font-size: 1.50rem;
    font-weight: 400;
    color: #000;
}
.benefits
{
    width: 100%;
    min-width: 320px;
    height: auto; /*vh es el 100% del contenedor*/
    min-height: 390px;
    margin: 0 auto; 
    text-align: center;
}
.benefits h2
{
    font-size: 4.0rem;
    font-weight: 600;
    color: #1a5e79;    
}
@media only screen and (min-width: 800px) {
.benefits--div--download{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.benefits--div--download .download
{   
    display: inline-block; 
    width: 100px;
    height: 100px;
}
.benefits--div--download h3{ 
    font-size: 2.0rem;
    font-weight: 400;
    color: #000;
}
.benefits--div--download p{
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
}
}
.benefits--div--download
{
    max-width: 250px;
    margin: 0 auto;
}
@media only screen and (max-width: 799px) {
.benefits--div--download .download
{    
    display: inline-block;
    width: 20%;
    height: 20%;
    max-width: 100px; 
    max-height: 100px; 
    margin: 15px auto; 
}

.benefits--div--download h3{   
    padding-bottom: 10px;
    font-size: 2.0rem;
    font-weight: 400;
    color: #000;
}
.benefits--div--download p{    
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 200;
    color: #000;
}
}

.video
{
    width: 100%;
    min-width: 320px;
    height: auto; /*vh es el 100% del contenedor*/
    min-height: 390px;
    margin: 0 auto; 
    text-align: center;
    background-color: rgb(238, 238, 238);
}
.video--div{
    padding-top: 20px;
    padding-bottom: 20px;
}
.video--div h3
{
    font-size: 2.8rem;
    font-weight: 600;
    color: #1a5e79; 
    padding: 10px 10px; 
}
.video--div iframe
{
    width: 90%;
    max-width: 560px;
    height: calc(100vw * .5);
    max-height: 315px;
}
.form form{
    text-align: center;
}
